[Unit]
Description=Move interfaces to dataplane
Requires=netns-dataplane.service
After=netns-dataplane.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/bin/echo "Moving interfaces to dataplane"
ExecStart=/usr/sbin/ip link set enp4s0f0np0 netns dataplane
ExecStart=/usr/sbin/ip link set enp4s0f1np1 netns dataplane

[Install]
WantedBy=multi-user.target
