[Unit]
Description=Move interfaces to dataplane
Requires=netns-dataplane.service
After=netns-dataplane.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/bin/echo "Moving interfaces to dataplane"
ExecStart=/usr/sbin/ip link set {{ external.iface }} netns dataplane
{% for iface in internal %}
ExecStart=/usr/sbin/ip link set {{ iface.iface }} netns dataplane
{% endfor %}

[Install]
WantedBy=multi-user.target
