frr version 8.4.4
frr defaults traditional
hostname ${HOSTNAME}
log syslog informational
service integrated-vtysh-config
!
# Blackhole routes for announced prefixes
{{FRR_STATIC_ROUTES}}
!
{{BGP_CONFIG}}
!
route-map ALLOW_IN permit 10
exit
!
route-map ALLOW_OUT permit 10
exit
!
