frr version 8.4.4
frr defaults traditional
hostname {{ hostname }}
log syslog informational
service integrated-vtysh-config
!
{# Routes for module-advertised prefixes #}
{% for module in modules if module.enabled and module.routing and module.routing.advertise %}
{% for adv in module.routing.advertise %}
{% set prefix = module.config.get(adv.config_field, '') %}
{% if prefix %}
{% set conn = module.connections | selectattr('name', 'eq', adv.via_connection) | first %}
{% if conn and adv.address_family == 'ipv4' %}
ip route {{ prefix }} {{ conn.module_ip }} memif-{{ module.name }}-{{ adv.via_connection[:3] }}
{% elif conn and adv.address_family == 'ipv6' %}
ipv6 route {{ prefix }} {{ conn.module_ip }} memif-{{ module.name }}-{{ adv.via_connection[:3] }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% for iface in internal %}
{% if iface.ipv6 %}
ipv6 route {{ iface.ipv6_network }} blackhole
{% endif %}
{% endfor %}
!
{% if bgp.enabled %}
router bgp {{ bgp.asn }}
 bgp router-id {{ bgp.router_id }}
 no bgp default ipv4-unicast
{# Configure all BGP peers #}
{% for peer in bgp.peers %}
 neighbor {{ peer.peer_ip }} remote-as {{ peer.peer_asn }}
{% if peer.description %}
 neighbor {{ peer.peer_ip }} description {{ peer.description }}
{% endif %}
{% if peer.update_source %}
 neighbor {{ peer.peer_ip }} update-source {{ peer.update_source }}
{% elif ':' in peer.peer_ip %}
 neighbor {{ peer.peer_ip }} update-source {{ external.ipv6 }}
{% else %}
 neighbor {{ peer.peer_ip }} update-source {{ external.ipv4 }}
{% endif %}
{% endfor %}
 !
 address-family ipv4 unicast
{# Announce prefixes from all modules with routing.advertise #}
{% for module in modules if module.enabled and module.routing and module.routing.advertise %}
{% for adv in module.routing.advertise if adv.address_family == 'ipv4' %}
{% set prefix = module.config.get(adv.config_field, '') %}
{% if prefix %}
  network {{ prefix }}
{% endif %}
{% endfor %}
{% endfor %}
  redistribute connected route-map ALLOW_OUT
{% for peer in bgp.peers %}
{% if ':' not in peer.peer_ip %}
  neighbor {{ peer.peer_ip }} activate
  neighbor {{ peer.peer_ip }} soft-reconfiguration inbound
{% endif %}
{% endfor %}
 exit-address-family
{% set has_ipv6_peers = bgp.peers | selectattr('peer_ip', 'contains', ':') | list | length > 0 %}
{% if has_ipv6_peers %}
 !
 address-family ipv6 unicast
{% for iface in internal %}
{% if iface.ipv6 %}
  network {{ iface.ipv6_network }}
{% endif %}
{% endfor %}
{# Announce IPv6 prefixes from modules with routing.advertise #}
{% for module in modules if module.enabled and module.routing and module.routing.advertise %}
{% for adv in module.routing.advertise if adv.address_family == 'ipv6' %}
{% set prefix = module.config.get(adv.config_field, '') %}
{% if prefix %}
  network {{ prefix }}
{% endif %}
{% endfor %}
{% endfor %}
  redistribute connected route-map ALLOW_OUT
{% for peer in bgp.peers %}
{% if ':' in peer.peer_ip %}
  neighbor {{ peer.peer_ip }} activate
  neighbor {{ peer.peer_ip }} soft-reconfiguration inbound
{% endif %}
{% endfor %}
 exit-address-family
{% endif %}
exit
{% endif %}
!
{% if ospf.enabled %}
{# OSPF prefix-lists for redistribution #}
ip prefix-list LOOPBACKS seq 5 permit 0.0.0.0/0 ge 32 le 32
{% set seq = namespace(num=10) %}
{% for lb in loopbacks %}
{% if lb.ipv4 %}
ip prefix-list LOCAL-ROUTES seq {{ seq.num }} permit {{ lb.ipv4 }}/{{ lb.ipv4_prefix }}
{% set seq.num = seq.num + 10 %}
{% endif %}
{% endfor %}
{% for iface in internal %}
ip prefix-list LOCAL-ROUTES seq {{ seq.num }} permit {{ iface.network }}
{% set seq.num = seq.num + 10 %}
{% endfor %}
{% for bvi in bvi_domains %}
{% if bvi.ipv4 %}
ip prefix-list LOCAL-ROUTES seq {{ seq.num }} permit {{ bvi.ipv4 }}/{{ bvi.ipv4_prefix }}
{% set seq.num = seq.num + 10 %}
{% endif %}
{% endfor %}
!
route-map OSPF-REDISTRIBUTE permit 10
 match ip address prefix-list LOOPBACKS
exit
!
route-map OSPF-REDISTRIBUTE permit 20
 match ip address prefix-list LOCAL-ROUTES
exit
!
router ospf
 ospf router-id {{ ospf.router_id or bgp.router_id }}
{% if ospf.default_originate %}
 default-information originate
{% endif %}
 redistribute connected route-map OSPF-REDISTRIBUTE
{# Loopback interfaces #}
{% for lb in loopbacks %}
{% if lb.ospf_area is not none and lb.ipv4 %}
 network {{ lb.ipv4 }}/32 area {{ lb.ospf_area }}
{% endif %}
{% endfor %}
{# Internal interfaces #}
{% for iface in internal %}
{% if iface.ospf_area is not none %}
 network {{ iface.network }} area {{ iface.ospf_area }}
{% endif %}
{% for sub in iface.subinterfaces %}
{% if sub.ospf_area is not none and sub.ipv4 %}
 network {{ sub.ipv4 }}/{{ sub.ipv4_prefix }} area {{ sub.ospf_area }}
{% endif %}
{% endfor %}
{% endfor %}
{# External interface #}
{% if external.ospf_area is not none %}
 network {{ external.ipv4 }}/{{ external.ipv4_prefix }} area {{ external.ospf_area }}
{% endif %}
{% for sub in external.subinterfaces %}
{% if sub.ospf_area is not none and sub.ipv4 %}
 network {{ sub.ipv4 }}/{{ sub.ipv4_prefix }} area {{ sub.ospf_area }}
{% endif %}
{% endfor %}
{# BVI interfaces #}
{% for bvi in bvi_domains %}
{% if bvi.ospf_area is not none and bvi.ipv4 %}
 network {{ bvi.ipv4 }}/{{ bvi.ipv4_prefix }} area {{ bvi.ospf_area }}
{% endif %}
{% endfor %}
{# Passive interfaces - loopbacks #}
{% for lb in loopbacks %}
{% if lb.ospf_passive and lb.create_lcp %}
 passive-interface loop{{ lb.instance }}
{% endif %}
{% endfor %}
{# Passive interfaces - internal #}
{% for iface in internal %}
{% if iface.ospf_passive %}
 passive-interface {{ iface.vpp_name }}
{% endif %}
{% for sub in iface.subinterfaces %}
{% if sub.ospf_passive %}
 passive-interface {{ iface.vpp_name }}.{{ sub.vlan_id }}
{% endif %}
{% endfor %}
{% endfor %}
{# Passive interfaces - external #}
{% if external.ospf_passive %}
 passive-interface external
{% endif %}
{% for sub in external.subinterfaces %}
{% if sub.ospf_passive %}
 passive-interface external.{{ sub.vlan_id }}
{% endif %}
{% endfor %}
{# Passive interfaces - BVI #}
{% for bvi in bvi_domains %}
{% if bvi.ospf_passive and bvi.create_lcp %}
 passive-interface loop{{ bvi.bridge_id }}
{% endif %}
{% endfor %}
exit
{% endif %}
!
{% if ospf6.enabled %}
{# OSPFv3 prefix-lists for redistribution #}
{% set seq6 = namespace(num=10) %}
{% for lb in loopbacks %}
{% if lb.ipv6 %}
ipv6 prefix-list LOCAL-ROUTES6 seq {{ seq6.num }} permit {{ lb.ipv6 }}/{{ lb.ipv6_prefix }}
{% set seq6.num = seq6.num + 10 %}
{% endif %}
{% endfor %}
{% for iface in internal %}
{% if iface.ipv6 %}
ipv6 prefix-list LOCAL-ROUTES6 seq {{ seq6.num }} permit {{ iface.ipv6_network }}
{% set seq6.num = seq6.num + 10 %}
{% endif %}
{% endfor %}
{% for bvi in bvi_domains %}
{% if bvi.ipv6 %}
ipv6 prefix-list LOCAL-ROUTES6 seq {{ seq6.num }} permit {{ bvi.ipv6 }}/{{ bvi.ipv6_prefix }}
{% set seq6.num = seq6.num + 10 %}
{% endif %}
{% endfor %}
!
route-map OSPF6-REDISTRIBUTE permit 10
 match ipv6 address prefix-list LOCAL-ROUTES6
exit
!
router ospf6
 ospf6 router-id {{ ospf6.router_id or ospf.router_id or bgp.router_id }}
{% if ospf6.default_originate %}
 default-information originate
{% endif %}
 redistribute connected route-map OSPF6-REDISTRIBUTE
exit
!
{# OSPFv3 interface-level area assignment #}
{% for lb in loopbacks %}
{% if lb.ospf6_area is not none and lb.ipv6 and lb.create_lcp %}
interface loop{{ lb.instance }}
 ipv6 ospf6 area {{ lb.ospf6_area }}
{% if lb.ospf6_passive %}
 ipv6 ospf6 passive
{% endif %}
exit
!
{% endif %}
{% endfor %}
{% for iface in internal %}
{% if iface.ospf6_area is not none and iface.ipv6 %}
interface {{ iface.vpp_name }}
 ipv6 ospf6 area {{ iface.ospf6_area }}
{% if iface.ospf6_passive %}
 ipv6 ospf6 passive
{% endif %}
exit
!
{% endif %}
{% for sub in iface.subinterfaces %}
{% if sub.ospf6_area is not none and sub.ipv6 %}
interface {{ iface.vpp_name }}.{{ sub.vlan_id }}
 ipv6 ospf6 area {{ sub.ospf6_area }}
{% if sub.ospf6_passive %}
 ipv6 ospf6 passive
{% endif %}
exit
!
{% endif %}
{% endfor %}
{% endfor %}
{% if external.ospf6_area is not none and external.ipv6 %}
interface external
 ipv6 ospf6 area {{ external.ospf6_area }}
{% if external.ospf6_passive %}
 ipv6 ospf6 passive
{% endif %}
exit
!
{% endif %}
{% for sub in external.subinterfaces %}
{% if sub.ospf6_area is not none and sub.ipv6 %}
interface external.{{ sub.vlan_id }}
 ipv6 ospf6 area {{ sub.ospf6_area }}
{% if sub.ospf6_passive %}
 ipv6 ospf6 passive
{% endif %}
exit
!
{% endif %}
{% endfor %}
{% for bvi in bvi_domains %}
{% if bvi.ospf6_area is not none and bvi.ipv6 and bvi.create_lcp %}
interface loop{{ bvi.bridge_id }}
 ipv6 ospf6 area {{ bvi.ospf6_area }}
{% if bvi.ospf6_passive %}
 ipv6 ospf6 passive
{% endif %}
exit
!
{% endif %}
{% endfor %}
{% endif %}
!
route-map ALLOW_IN permit 10
exit
!
route-map ALLOW_OUT permit 10
exit
!
